.booking {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-color: #ebecf1;
  padding: 50px 0;
}

.booking__container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 80px;
}

.booking__title {
  margin-bottom: 50px;
  font-size: 46px;
  font-weight: 800;
  line-height: 1.2;
}

.booking__fieldset_user-info {
  margin-bottom: 50px;
}

.booking__legend {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 800;
}

.booking__input-group {
  display: flex;
  gap: 8px;
}

.booking__input {
  display: block;
  max-width: 380px;
  height: 44px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 0 16px;
  background-color: #fff;
  font-size: 18px;
}

.booking__input::placeholder {
  color: #bababa;
}

.booking__input:hover {
  background-color: #f9f9f9;
}

.booking__input:focus {
  outline: 0;
  border-color: #bcbcbc;
}

.booking__input_valid {
  border-color: #00992b;
}

.booking__input_invalid {
  border-color: #900;
}

.booking__fieldset_comedians {
  margin-bottom: 122px;
}

.booking__comedians-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.booking__comedian {
  display: flex;
  align-items: center;
}

.booking__select {
  width: 100%;
  font-size: 18px;
  line-height: 1.4;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: #fff;
  height: 44px;
  padding: 0 16px;
  outline: 0;
}

.booking__select_comedian {
  margin-right: 8px;
  max-width: 380px;
}

.booking__select_time {
  margin-right: 18px;
  max-width: 183px;
}

.booking__button {
  padding: 16px 36px;
  color: #1a1a1a;
  border-radius: 36px;
  background-color: #ffc119;
  border: 1px solid transparent;
  transition: 0.3s;
  outline: none;
}

.booking__button:hover {
  background-color: #fec938;
}

.booking__button:focus-visible {
  border: 1px solid #b88600;
}

.booking__button:disabled {
  background-color: #bababa;
  cursor: not-allowed;
}

.booking__hall {
  white-space: nowrap;
  font-size: 18px;
  padding-right: 32px;
  background: url('../img/qr.svg') right/24px no-repeat;
}

@media (max-width: 1024px) {
  .booking__container {
    padding: 0 60px;
  }

  .booking__title {
    margin-bottom: 40px;
    font-size: 32px;
  }

  .booking__fieldset_user-info {
    margin-bottom: 40px;
  }

  .booking__fieldset_comedians {
    margin-bottom: 82px;
  }
}

@media (max-width: 768px) {
  .booking__input-group {
    flex-direction: column;
  }

  .booking__input {
    max-width: none;
  }
}

@media (max-width: 680px) {
  .booking__container {
    padding: 0 16px;
  }

  .booking__title {
    margin-bottom: 32px;
    font-size: 24px;
  }

  .booking__comedian {
    flex-wrap: wrap;
  }

  .booking__select_comedian {
    max-width: none;
    margin-right: 0;
    margin-bottom: 8px;
  }
}
